:root {
  --base-color: #171717;
  --secondary-color: #a1460e;
  --action-color: #cc6d3d;
  --layover-color: #d2e1f36c;
}
body {
  margin: 0;
  height: 150vh;
  background-color: black;
}
.grid-container {
  display: grid;
  height: 145vh;
  grid-template-columns: 1fr 1.2fr 1.5fr;
  grid-template-rows: 1fr 4fr 3fr 2fr;
  gap: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  grid-template-areas:
    "main main header"
    "main main wheels"
    "tires mufflers wheels"
    "footer footer wheels";
}
header {
  grid-area: header;
  background-color: var(--action-color);
  background-image: url(../images/harley.jpg);
  background-blend-mode: screen;
  border-radius: 0.5rem;
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
a {
  text-decoration: none;
}
li {
  color: white;
}

main {
  grid-area: main;
  background-color: var(--base-color);
  background-image: url(../images/car1.jpeg);
  background-blend-mode: lighten;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 12px;
}
main:hover {
  border-radius: 3px;
  border: 1px solid lightgray;
  grid-area: main;
  background-color: var(--base-color);
  background-image: url(../images/car1.jpeg);
  background-blend-mode: screen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  opacity: 0.7;
  cursor: pointer;
}
#tires {
  grid-area: tires;
  background-color: var(--layover-color);
  background-image: url(../images/car5.webp);
  background-blend-mode: screen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
  border-radius: 0.5rem;
}
#tires:hover {
  grid-area: tires;
  background-color: var(--layover-color);
  background-image: url(../images/car5.webp);
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  opacity: 0.8;
  cursor: pointer;
  color: white;
}
#mufflers {
  grid-area: mufflers;
  background-color: var(--layover-color);
  background-image: url(../images/muffler.jpg);
  background-blend-mode: lighten;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 0.5rem;
}
#mufflers:hover {
  grid-area: mufflers;
  background-color: var(--layover-color);
  background-image: url(../images/muffler.jpg);
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  opacity: 0.5;
  cursor: pointer;
  color: white;
}
.wheels {
  grid-area: wheels;
  background-color: var(--base-color);
  background-image: url(../images/wheels2.jpeg);
  background-blend-mode: screen;
  background-size: cover;
  color: black;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.wheels:hover {
  grid-area: wheels;
  background-color: var(--action-color);
  background-image: url(../images/wheels2.jpeg);
  background-blend-mode: lighten;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  opacity: 0.8;
  cursor: pointer;
}
footer {
  grid-area: footer;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 580px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 2.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      "header"
      "main"
      "wheels"
      "tires"
      "mufflers"
      "footer";
  }
}
